* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}

/* header */
header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    background-color: white;
}
header #sony {
    background-color: black;
    padding: 5px 0;
}
header #sony img {
    width: 80px;
    height: auto;
}
header .navbar .navbar-brand img{
    height: 45px;
    width: auto;
}
header .navbar .navbar-collapse .nav-item .nav-link {
    color: black;
}
header .navbar .navbar-collapse .nav-item img {
    width: 25px;
    height: auto;
}
header .card-nav-menu img {
    width: 80px;
    height: auto;
}
@media screen and (min-width: 992px) {
    header .nav-menu {
        display: none;
    }
    header .nav-menu-lg {
        display: flex;
    }
}
@media screen and (max-width: 991px) {
    header .nav-menu-lg {
        display: none;
    }
    header .nav-menu {
        display: flex;
    }
}

/* main */
main {
    padding-top: 105px;
}
    /* jumbotron */
main #jumbotron .ms-carousel-item-1 {
    background-image: url("../img/jumbo-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 650px;
    color: white;
    padding: 20px 0;
}
main #jumbotron .ms-carousel-item-1 img {
    width: 65%;
    height: auto;
    margin-bottom: 20px;
}
main #jumbotron .anteprima-jumbo .anteprima-jumbo-img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 20px;
}
    /* play5 */
main #play5 {
    margin-top: 70px;
    padding: 30px 0;
}
main #play5 .carousel-item img{
    max-width: 100%;
    height: auto;
    max-height: 600px;
    object-fit: contain;
}
main #play5 .carousel-item p {
    color: #787878;
    font-size: 18px;
    padding: 20px 0;
}
main #play5 .anteprima-play5 {
    font-size: 16px;
}
main #play5 .anteprima-play5 img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}
    /* game itt */
main #game-itt{
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 650px;
    color: white;
    padding: 30px 0;
}
main #game-itt img {
    width: 65%;
    height: auto;
    margin-bottom: 20px;    
}
main #game-itt h2 {
    font-size: 40px;
    margin-bottom: 20px;
}
    /* nuove uscite */
main #nuove-uscite {
    background-color: #1f1f1f;
    color: white;
    padding: 30px 0;
}
main #nuove-uscite img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
    /* play4 */
main #play4 {
    padding: 30px 0;
    width: 100%;
}
main #play4 p {
    color: #787878;
    font-size: 18px;
    padding: 15px 0;
}
main #play4 img {
    max-width: 100%;
    height: auto;
}
    /* ps-plus */
main #ps-plus {
    background-color: #bebcbb;
    width: 100%;
}
main #ps-plus .logo {
    max-width: 60%;
    height: auto;
}
main #ps-plus p {
    margin: 30px 0;
}
main #ps-plus img {
    max-width: 100%;
    height: auto;
}
    /* sconti ps */
main #sconti-ps {
    width: 100%;
    padding: 30px 0;
}
main #sconti-ps p {
    color: #787878;
    font-size: 18px;
    padding: 15px 0;
}
main #sconti-ps img {
    max-width: 100%;
    height: auto;
}
    /* ps now */
main #ps-now {
    background-color: #161c3b;
    width: 100%;
}
main #ps-now .logo {
    max-width: 60%;
    height: auto;
}
main #ps-now p {
    margin: 30px 0;
    color: white;
}
main #ps-now img {
    max-width: 100%;
    height: auto;
}
    /* social */
main #social {
    width: 100%;
    padding: 30px 0;
}
main #social img {
    max-width: 100%;
    height: auto;
}
@media screen and (min-width: 768px) {
    main #social img {
        max-width: 120px;
    }
}

/* footer */
footer {
    background-color: #00439c;
    padding: 60px 0;
    color: white;
}
footer img {
    min-width: 95px;
    max-width: 135px;
    height: auto;
    margin: 20px 0;
}
footer #language img {
    min-width: 0;
    max-width: 25px;
    height: auto;
    margin-right: 10px;
}
footer p {
    font-size: 14px;
}
footer p a {
    color: white;
}
footer ul li {
    list-style: none;
    margin: 10px 0;
}
footer ul li a {
    color: white;
    text-decoration: none;
}